<mat-toolbar class="weather-header">
<nav mat-nav-list class="weather-nav" role="navigation">
  <a mat-list-item href="#">Today</a>
  <a mat-list-item href="#">History</a>
</nav>
</mat-toolbar>

<div class="weather-container">

  <!-- emulate grid system -->
  <div class="wether-container--inner">

    <!-- grid cell (aka col)-->
    <div class="weather-search">
      <form class="search" [formGroup]="searchForm">
        <mat-form-field formControlName="cityName">
          <mat-label>City Name</mat-label>
          <input matInput  placeholder="Just a placeholder">
        </mat-form-field>
        <mat-form-field formControlName="countyCode">
          <mat-label>Country Code</mat-label>
          <input matInput placeholder="Just a placeholder">
        </mat-form-field>

        <button mat-button color="primary">Update Data</button>
      </form>
    </div>

    <!-- grid cell (aka col)-->
    <section class="weather-history">
      Graphs
    </section>

  </div>



  <!-- <div class="Grid Grid--gutters u-textCenter">

    <div class="Grid-cell">
      <div class="Demo">auto</div>
    </div>

    <div class="Grid-cell u-1of3">
      <div class="Demo">1/3</div>
    </div>

  </div> -->

</div>
